body,
main {
  margin: 0;
  padding: 0;
}

.gameOver {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -20px;
}

.game {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0 0 0;
  padding: 0;
}

.board {
  background: #333;
  width: 355px;
  height: 705px;
  margin-left: calc(15% + 60px);
}

.sidebar {
  width: calc(15% + 60px);
  padding: 0 30px;
}

.score,
.level,
.nextPiece {
  border: 1px solid #222;
  border-radius: 5px;
  margin-top: 30px;
  text-align: right;
  padding: 10px;
}

.score h3,
.level h3,
.nextPiece h3 {
  margin: 0;
}

.row {
  height: 30px;
  width: 355px;
  display: flex;
  margin-top: 5px;
}

.cell {
  background: #ccc;
  height: 30px;
  margin-left: 5px;
  width: 30px;
}

.cell.I {
  background: #0441ae;
}

.cell.L {
  background: #82cb3b;
}

.cell.J {
  background: #fed500;
}

.cell.S {
  background: #fd971c;
}

.cell.Z {
  background: #fe3213;
}

.cell.T {
  background: #ffff00;
}

.cell.O {
  background: #00ffff;
}

.tiles {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.tiles div {
  background: #ff0000;
  height: 30px;
  border-radius: 5px;
  width: 30px;
  position: absolute;
}
