.game {
  position: absolute;
  width: 355px;
  left: 50%;
  margin-left: -212px;
}

.board {
  position: absolute;
  background: #333;
  width: 355px;
  height: 705px;
}

.row {
  height: 30px;
  width: 355px;
  display: flex;
  margin-top: 5px;
}

.cell {
  background: #ccc;
  height: 30px;
  margin-left: 5px;
  width: 30px;
}

.cell.active {
  background: #ff0000;
}

.tiles {
  position: relative;
  top: 0;
  left: 0;
  z-index: 2;
}

.tiles div {
  background: #ff0000;
  height: 30px;
  border-radius: 5px;
  width: 30px;
  position: absolute;
}
